.main {
  display: flex;
  align-items: center;
  background-color: purple;
  width: 500px;
  height: 500px;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1% 5%;
  width: 90%;
  height: 90%;
  background-color: white;
}

.title {
  text-align: center;
}

.imgBtn {
  background-color: purple;
  width: 30%;
  height: 30px;
  color: white;
  border-radius: 5px;
}

.img {
  margin-top: 30px;
  width: 70%;
  height: 60%;
}
