.main{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.balls{
  display: flex;
  justify-content: center;
  width: 60%;
  height: 100px;
  gap: 20px;
}

.ball1area,.ball2area,.ball3area,.ball4area{
  display: flex;
  align-items: center;
  width: 100%;
  height: auto;
  gap: 20px;
}

.ball1,.ball2,.ball3,.ball4{
  width: 50px;
  height: 50px;
  border: 1px solid black;
  border-radius: 50%;
}

.balls .button{
  width: 60%;
}

.boxes{
  display: flex;
  justify-content: center;
  width: 60%;
  height: 200px;
  gap: 30px;
}

.box1,.box2,.box3,.box4{
  width: 100%;
  border: 1px solid black;
}

.texts{
  width: 60%;
}

.btns{
  display: flex;
  justify-content: left;
  width: 60%;
  gap: 40px;
}